/* base
------------------------------------*/

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: montserrat;
}


/* header
------------------------------------*/

header {
  width: 100%;
  padding: 30px 4% 30px;
  /* background-color: #3CB371; */
  display: flex;
  align-items: center;
  border-bottom: solid 1px #CCCCCC;
  background-color: #fff;
}

header h1 {
  margin: 0; padding:0;
  font-size: 25px;
}

header a {
  text-decoration: none;
  color: #4b4b4b
}

header ul {
  list-style: none;
  margin: 0;
  display: flex;
}

header li {
  margin: 0 0 0 20px;
  font-size: 14px;
}

header nav {
  margin: 0 0 0 auto;
}



/* footer
------------------------------------*/

footer {
  width: 100%;
  padding: 10px 46% 10px 46%;
  margin: 30px 0px 0px 0px;
  background-color: gray;
  color: white;
  display: flex;
}

footer p {
  text-align: center;
}



/* home
------------------------------------*/

#home_list {
  padding: 3%;
}

#home_goodslist {
  padding: 4px; 
  margin: 15% 40% 0px 40%;
  margin-bottom: 3px; 
  border: 1px solid #333333;
  text-align: center;
  color: #222222;
  font-size: 22px;
}

#home_dummy {
  width: 100%;
  float: left;
  padding: 15px 10% 15px 13%;
}

#home_recommend {
  float: left;
  width: 100%;
  padding: 5% 5% 5% 8%;
  white-space: nowrap;
}

#home_recommend p {
  font-size: small;
}

#home_goods {
  width: 180px;
  float: left;
  overflow: hidden;
  text-align: center;
  margin-right: 10px;
}

#home_price {
  white-space: nowrap;
  font-size: 20px;
}


/* goods_list
------------------------------------*/

#list_goods {
  width: 190px;
  height: 280px;
  float: left;
  overflow: hidden;
  margin: 5px 20px 5px 0px; 
  text-align: center;
}

#list_bed {
  width: 100%;
  height: 700px;
  padding: 10px 10% 10px 11%;
}

#list_shelf {
  width: 100%;
  height: 700px;
  padding: 10px 10% 10px 11%;

}

#list_sofa {
  width: 100%;
  height: 700px;
  padding: 10px 10% 10px 11%;
}

#list_table {
  width: 100%;
  height: 700px;
  padding: 10px 10% 10px 11%;
}

#list_line {
  padding: 10px 10% 10px 11%;
}


/* goods_details
------------------------------------*/

#details_title {
  font-size: 30px;
  padding: 30px 30px 30px 7%;
}

#details_left {
  width: 35%;
  float: left;
  padding: 0px 10px 10px 7%;
}

#details_kanren_goods {
  width: 160px;
  float: left;
  overflow: hidden;
  margin: 5px 20px 0px 0px;
}

#details_center {
  width: 35%;
  float: left;
  overflow: hidden;
  padding: 0px 10px 10px 10px;
}

#details_kakaku {
  font-size: 30px;
}

#details_table{
  width: 100%;
  border-collapse: collapse;
}

#details_table tr{
  border-bottom: solid 2px white;
}

#details_table tr:last-child{
  border-bottom: none;
}

#details_table th{
  position: relative;
  text-align: left;
  width: 30%;
  background-color: #52c2d0;
  color: white;
  text-align: center;
  padding: 10px 0;
}

#details_table th:after{
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top:calc(50% - 10px);
  right:-10px;
  border-left: 10px solid #52c2d0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

#details_table td{
  text-align: left;
  width: 70%;
  text-align: center;
  background-color: #eee;
  padding: 10px 0;
}

#details_right {
  width: 22%;
  float: left;
  overflow: hidden;
  margin: 0px 7% 10px 10px;
  padding: 40px 30px 40px 30px;
  background-color: whitesmoke;
}

#details_form input[type="number"] {
  width: 100px; 
  margin: 0px 20% 20px 20px;
  padding: 20px 20px 20px 20px;
}

#details_form input[type="submit"] {
  display       : inline-block;
  width: 100%; 
  border-radius : 2%;          /* 角丸       */
  font-size     : 15pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 14px 45px;   /* 余白       */
  background    : #FF6666;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 8px 8px 7px #666666;  /* 影の設定 */
  border        : 2px solid #FF6666;    /* 枠の指定 */
}

#details_form input[type="submit"]:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #FF6666;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}


/* cart
------------------------------------*/

#cart {
  margin: 30px 7% 30px 7%;
}

#cart_title {
  font-size: 30px;
  margin: 30px 7% 30px 7%;
}

#cart_details_2 {
  width: 97%;
  height: 230px;
  float: left;
  border-bottom: solid 1px black;
  margin-bottom: 15px;
}

#cart_details {
  width: 70%;
  float: left;
}

#cart_left {
  width: 200px;
  float: left;
  padding: 0px 10px 10px 0px;
}

#cart_center {
  width: 300px;
  height: 100px;
  float: left;
  overflow: hidden;
  margin: 0px 10px 10px 10px;
  padding: 0px 10px 10px 10px;
  line-height: 35px;
}

#cart_right {
  width: 220px;
  height: 100px;
  float: left;
  overflow: hidden;
  margin: 0px 10px 10px 10px;
  line-height: 35px
}

#cart_under {
  width: 550px;
  height: 100px;
  float: left;
  overflow: hidden;
  margin: 0px 20px 10px 10px;
}

#cart_line {
  float: left;
}

#cart_pay {
  width: 30%;
  float: right;
  overflow: hidden;
  margin: 0px 0px 10px 0px;
  padding: 40px 30px 40px 30px;
  background-color: whitesmoke;
  line-height: 35px
}

#cart_form input[type="submit"] {
  display       : inline-block;
  width: 100%; 
  border-radius : 2%;          /* 角丸       */
  font-size     : 15pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 14px 45px;   /* 余白       */
  background    : #FF6666;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 8px 8px 7px #666666;  /* 影の設定 */
  border        : 2px solid #FF6666;    /* 枠の指定 */
}

#cart_form input[type="submit"]:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #FF6666;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

#cart_form_2 input[type="submit"] {
  display       : inline-block;
  width: 100%; 
  border-radius : 2%;          /* 角丸       */
  font-size     : 15pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 14px 45px;   /* 余白       */
  background    : #3CB371;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 8px 8px 7px #666666;  /* 影の設定 */
  border        : 2px solid #3CB371;    /* 枠の指定 */
}

#cart_form_2 input[type="submit"]:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #3CB371;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

.button-panel {
  margin: 0.2em 0 0;
  width: 100%;
}

.button-panel .cart_button {
  background-color:white;
  border: none;
  color:black;
  cursor: pointer;
  height: 20px;
  /* font-family: 'Open Sans', sans-serif; */
  font-size: 0.9em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  width: 20%;
  /* margin: 0 0 0 10px; */
}

#cart_price {
  font-size: 24px;
}

#cart_total {
  color: #ff6347;
}


/* pay
------------------------------------*/




/* done
------------------------------------*/




/* mypage
------------------------------------*/

.kakomi-box3 {
  margin: 2em auto;
  padding: 1em;
  width: 90%;
  border: 1px solid #ccc; /* 枠線 */
  background-color: #fff; /* 背景色 */
  box-shadow: 1px 1px 2px #ccc;
}

.mypage2 {
  padding-top: 20px;
  margin: 0 auto;
  max-width: 500px;
  border-bottom: solid 0.1px gray;
  padding-bottom: 10px;

}

.mypage {
  padding-top: 120px;
  margin: 0 auto;
  max-width: 700px;
}

.mypage3 {
  padding-top: 5px;
  margin: 0 auto;
  max-width: 500px;
  color: #0066FF;
}

.border {
  border-style: dotted;
}


/* history
------------------------------------*/

#history_title {
  margin: 30px 10%;
}

#history {
  margin: 20px 10% 20px 10%;
  height: 220px;
  border-bottom: solid 1px black;
}

#history_image {
  float: left;
  overflow: hidden;
  padding-right: 40px;
}

#history_details {
  margin-left: 40px;
  line-height: 40px;
}

